.beneficts-div {
    width: 100%;
    height: 100vh;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section_benefict {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 900;
    font-size: 60px;
    color: #D50F5A;
    height: 10%;
    margin: 0;
}

.benefictSection {
    width: 100%;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.benefict{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.text{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;    
    margin: 0;
}

@media only screen and (max-width: 600px){
    .beneficts-div {
        height: 100%;
        padding: 60px 0;
    }
    .section_benefict {
        height: 100%;
    }
    .title {
        font-size: 35px;
    }
    .benefictSection {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .benefict{
        height: 100%;
    }
    .icon{
        width: 100%;
        height: 50%;
    }
    .info{
        width: 100%;
        height: 70%;
    }
    .text{
        font-size: 15px;
        text-align: center;
    }
}