.caracteristicas-div{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-caracteristicas-div{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-caracteristicas{
    font-size: 24px;
}

.text-caracteristicas{
    width: 80%;
    text-align: justify;
    font-size: 18px;
}

.row-caracteristicas-div{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.title-beneficios{
    font-weight: 500;
    font-size: 18px;
}

.text-beneficios{
    width: 50%;
    text-align: justify;
    font-size: 18px;
}

@media only screen and (max-width:600px){
    .caracteristicas-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .column-caracteristicas-div{
        width: 90%;
        height: 50vh;
        justify-content: space-evenly;
    }

    .row-caracteristicas-div{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .text-beneficios{
        width: 90%;
    }
}