.inicio-div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(../public/fondo_inicio.png);
    background-size: cover;
}

.row-inicio-div{
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.column-inicio-div{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.title-inicio{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    width: 72%;
}

.subtitle-inicio{
    font-size: 17.8px;
    font-weight: 700;
    color: #555555;
    width: 58%;
}

.button-download-inicio{
    background-color: #ff1616;
    color: #ffffff;
    border-radius: 60px;
    padding: 10px 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
}

.button-correo-inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #555555;
    gap: 10px;
}

.fa-envelope-o{
    font-size: 20px;
    color:#ff1616;
}

.img-phone-inicio{
    width: 30vw;
}

@media only screen and (max-width:600px){
    .inicio-div{
        height:125vh;
        justify-content: flex-start;
    }
    .row-inicio-div{
        flex-direction: column;
        align-items: center;
    }

    .column-inicio-div{
        width: 90%;
        align-items: initial;
    }

    .title-inicio{
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }

    .subtitle-inicio{
        width: 100%;
        text-align: center;
    }

    .img-phone-inicio{
        width: 80vw;
    }

    .button-download-inicio{
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
    }

}