.mitfg-div {
    width: 100%;
    height: 100vh;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-mitfg-div {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-mitfg {
    width: 280px;
    object-fit: contain;
}

.title-mitfg-div {
    font-size: 55px;
    font-weight: 900;
    color: black;
    margin: 0;
}

.column-mitfg-div {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.row-mitfg-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.index-mitfg {
    color: #ac3434;
    font-weight: 900;
    font-size: 32px;
    margin: 0;
}

.right-row-mitfg {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-mitfg {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.subtitle-mitfg {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}

@media only screen and (max-width: 600px){
    .mitfg-div {
        flex-direction: column;
        height: auto;
        padding: 40px 0;
        gap: 20px;
    }
    .logo-mitfg-div {
        width: 100%;
        height: 30%;
    }
    .img-mitfg {
        width: 150px;
    }
    .title-mitfg-div {
        font-size: 35px;
    }
    .column-mitfg-div {
        width: 100%;
        height: 70%;
        gap: 20px;
    }
    .row-mitfg-div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .index-mitfg {
        font-size: 24px;
    }
    .right-row-mitfg {
        width: 85%;
        gap: 10px;
    }
    .title-mitfg {
        font-size: 18px;
    }
    .subtitle-mitfg {
        font-size: 16px;
        text-align: justify;
    }
}